.container {
    text-align: center;
    background: #ffffff;

}

.title{
    margin-top: 50px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color : #26ffcb;
    padding-left:15px

}
.reset {
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}
.reset:hover{
    background-color:white;
    color: #1f3540;
}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;

}
.boxes:hover{
    background-color: #658595;
}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img{
    margin: 50px;

}
.winner img{
    padding: 20px 20px;
    height: 50px;
}
.winner{
    margin-top: 50px;
    /* color: white; */
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-indicators {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    /* color: white; */
}
.player {
    font-size: 30px;
    margin: 0 15px;
    font: bolder;
    font-family: sans-serif;
}
.mark {
    font-weight: bold;
    color: #e74c3c;
}

