.container1{
    background-color: black;
    color: white;
    
    display: flex;
}
.container2{
    justify-content: space-evenly;
    margin: auto;
}
.sub_head{
    font: 57px white;
    font-weight: bolder;
    font-family: sans-serif;
}
.content{
    font-size: 35px;
    margin: auto auto;
    justify-content: center;
    display: absolute;
    
}